<component name="ArtifactManager">
  <artifact type="war" name="springmvc_day02_uploadService:war">
    <output-path>$PROJECT_DIR$/springmvc_day02_uploadService/target</output-path>
    <root id="archive" name="springmvc_day02_uploadService-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc_day02_uploadService:war exploded" />
    </root>
  </artifact>
</component>